# version: 3.0.0
# Theme: Retro Green Terminal (CRT phosphor)

add_newline = true
continuation_prompt = "[.. ](bright-black)"

format = """($nix_shell$container$fill$git_metrics\n)$cmd_duration\
$localip\
$shlvl\
$shell\
$env_var\
$jobs\
$sudo\
$username@$hostname \
$directory\n\
$character"""

right_format = """
$singularity\
$kubernetes\
$vcsh\
$fossil_branch\
$git_branch\
$git_commit\
$git_state\
$git_status\
$hg_branch\
$pijul_channel\
$docker_context\
$package\
$c\
$cpp\
$cmake\
$cobol\
$daml\
$dart\
$deno\
$dotnet\
$elixir\
$elm\
$erlang\
$fennel\
$golang\
$guix_shell\
$haskell\
$haxe\
$helm\
$java\
$julia\
$kotlin\
$gradle\
$lua\
$nim\
$nodejs\
$ocaml\
$opa\
$perl\
$php\
$pulumi\
$purescript\
$python\
$raku\
$rlang\
$red\
$ruby\
$rust\
$scala\
$solidity\
$swift\
$terraform\
$vlang\
$vagrant\
$zig\
$buf\
$conda\
$pixi\
$meson\
$spack\
$memory_usage\
$aws\
$gcloud\
$openstack\
$azure\
$crystal\
$custom\
$status\
$battery\
${custom.hosticon}"""

[os]
disabled = true

[fill]
symbol = ' '

[character]
format = "$symbol "
success_symbol = "[❯](green)"
error_symbol = "[x](bright-black)"
vimcmd_symbol = "[<](green)"
vimcmd_replace_one_symbol = "r"
vimcmd_replace_symbol = "R"
vimcmd_visual_symbol = "v"

[env_var.VIMSHELL]
format = "[$env_value]($style)"
style = "green"

[sudo]
format = "[$symbol]($style)"
style = "bold green"
symbol = "#"
disabled = false

[username]
style_user = "green"
style_root = "bold green"
format = "[$user]($style)"
disabled = false
show_always = true

[directory]
home_symbol = "~"
truncation_length = 2
truncation_symbol = "/"
read_only = " [ro]"
use_os_path_sep = true
style = "#ffb000"
format = '[$path]($style)[$read_only]($read_only_style)'
repo_root_style = 'bold #ffb000'
repo_root_format = '[$before_root_path]($before_repo_root_style)[$repo_root]($repo_root_style)[$path]($style)[$read_only]($read_only_style)'

[cmd_duration]
format = "[$duration ](bright-black)"

[jobs]
format = "[$symbol$number]($style) "
style = "green"
symbol = "&"

[localip]
ssh_only = true
format = " [$localipv4](green)"
disabled = true

[hostname]
ssh_only = false
style = "bright-black"
format = "[$hostname](bright-black)"

[custom.hosticon]
command = '''
case $(hostname) in
  kawaiikuma) echo "ʕ ᵔᴥᵔ ʔ" ;;
  nikoneko) echo "≽^•⩊•^≼" ;;
  ikiikiinu) echo "∪^ェ^∪" ;;
  *) echo "[°□°]" ;;
esac
'''
when = "true"
shell = ["sh"]
format = "[$output ](green)"

[time]
disabled = true

[battery]
format = "[$percentage$symbol]($style)"
full_symbol = ""
charging_symbol = "+"
discharging_symbol = "-"
unknown_symbol = "?"
empty_symbol = "!"

[[battery.display]]
threshold = 20
style = "bright-black"

[[battery.display]]
threshold = 60
style = "bright-black"

[[battery.display]]
threshold = 70
style = "green"

[git_branch]
format = " [$symbol$branch(:$remote_branch)]($style)"
symbol = ""
style = "green"
truncation_symbol = ".."
truncation_length = 20
ignore_branches = ["main", "master"]
only_attached = true

[deno]
format = " [deno](bright-black) [$version](green)"
version_format = "${raw}"

[lua]
format = " [lua](bright-black) [$version]($style)"
version_format = "${raw}"
symbol = ""
style = "green"

[nodejs]
format = " [node](bright-black) [$version](green)"
version_format = "${raw}"
detect_files = ["package-lock.json", "yarn.lock"]
detect_folders = ["node_modules"]
detect_extensions = []

[python]
format = " [py](bright-black) [${symbol}${version}]($style)"
symbol = ""
version_format = "${raw}"
style = "green"

[ruby]
format = " [rb](bright-black) [$version]($style)"
symbol = ""
version_format = "${raw}"
style = "green"

[rust]
format = " [rs](bright-black) [$version]($style)"
symbol = ""
version_format = "${raw}"
style = "green"

[package]
format = " [pkg](bright-black) [$version]($style)"
version_format = "${raw}"
symbol = ""
style = "green"

[swift]
format = " [sw](bright-black) [$version]($style)"
symbol = ""
style = "green"
version_format = "${raw}"

[aws]
disabled = true
format = " [aws](bright-black) [$profile $region]($style)"
style = "green"
symbol = ""

[buf]
symbol = ""
format = " [buf](bright-black) [$version]($style)"
style = "green"

[c]
symbol = ""
format = " [c](bright-black) [$version]($style)"
style = "green"

[cpp]
symbol = ""
format = " [cpp](bright-black) [$version]($style)"
style = "green"

[conda]
symbol = ""
format = " [conda](bright-black) [$environment]($style)"
style = "green"

[pixi]
symbol = ""
format = " [pixi](bright-black) [$version $environment]($style)"
style = "green"

[dart]
symbol = ""
format = " [dart](bright-black) [$version]($style)"
style = "green"

[docker_context]
symbol = ""
format = " [docker](bright-black) [$context]($style)"
style = "green"

[elixir]
symbol = ""
format = " [exs](bright-black) [$version]($style)"
style = "green"

[elm]
symbol = ""
format = " [elm](bright-black) [$version]($style)"
style = "green"

[golang]
symbol = ""
format = " [go](bright-black) [$version]($style)"
style = "green"

[haskell]
symbol = ""
format = " [hs](bright-black) [$version]($style)"
style = "green"

[java]
symbol = ""
format = " [java](bright-black) [$version]($style)"
style = "green"

[julia]
symbol = ""
format = " [jl](bright-black) [$version]($style)"
style = "green"

[memory_usage]
symbol = ""
format = " [mem](bright-black) [${ram}]($style)"
style = "green"

[nim]
symbol = ""
format = " [nim](bright-black) [$version]($style)"
style = "green"

[nix_shell]
style = 'green'
symbol = 'nix'
format = '[$symbol:$state]($style) [$name](bright-black)'
impure_msg = 'i'
pure_msg = 'p'
unknown_msg = '?'

[spack]
symbol = ""
format = " [spack](bright-black) [$environment]($style)"
style = "green"
