# --- General ---
*.swp
*.swo
*.bak
*.tmp
*~

.DS_Store
Thumbs.db

# --- Editor/IDE folders ---
.vscode/
.idea/
*.code-workspace

# --- Nix-specific ---
fire-flake/result
fire-flake/result-*
fire-flake/nix-shell-result
fire-flake/nix
fire-flake/*.drv
fire-flake/*.out
fire-flake/*.gcno
fire-flake/*.gcda

# --- System files ---
.nfs*

# --- fire-flake-specific ---
fire-flake/vars/*
!fire-flake/vars/template.nix
!fire-flake/vars/.gitignore

# --- Env-specific ---
fire-flake/.env
fire-flake/.envrc
fire-flake/.direnv/
fire-flake/.cache/
